<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重设密码</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/userCss/changePasswordCss.css">
</head>
<body ng-app="myApp" ng-controller="changePasswordController as ctrl" class="ng-cloak">
<div class="container">
    <!--START 导航栏-->
    <div class="row" style="margin-top: 80px;">
        <header>
            <nav id="nav_head" class="nav nav-default navbar-fixed-top"
                 role="navigation">
                <div id="nav_div" class="col-xs-10">
                    <div class="nav_header">
                        <a href="/" class="navbar-brand" style="color: #fff; font-weight: bold;">Evy</a>
                    </div>
                </div>
                <div>
                    <a href="/login" class="btn navbar-btn nav_btn">登录</a>
                </div>
            </nav>
        </header>
    </div>
    <!--END 导航栏-->
    <!--START 正文-->
    <div class="row">
        <div id="editPassword_box" class="col-xs-8 col-xs-offset-2 from_my_box">
            <div class="box_header">
                <h2>更改密码</h2>
            </div>
            <div style="font-size: 20px;">
                <p>请输入你的用户名或注册电子邮箱。</p>
                <p>你将收到一封确认邮件，可以重新设置密码。</p>
            </div>
            <form class="form-horizontal" role="form" novalidate="novalidate"
                  ng-hide="!ctrl.isShowSendForm">
                <div class="form_body col-xs-8">
                    <div>
                        <p>用户名或电子邮箱</p>
                        <input type="text" name="" ng-model="ctrl.inputUsername"
                               class="username_input form-control">
                        <div id="error_repeat" class="collapse error_box">
                            <label class="label label-danger error-message">
                                请提供有效的用户名或电子邮箱。
                            </label>
                        </div>
                    </div>
                    <div>
                        <button id="send_btn" class="edit_password_btn btn btn-lg"
                            ng-click="ctrl.sendChangeEmail()">
                            发送确认邮件
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-xs-6 form_body message_box" ng-hide="!ctrl.isShowSendMailSuccess">
                <div class="col-xs-1">
	                <span class="glyphicon glyphicon-ok-sign
	                    message_box_span"></span>
                </div>
                <div class="col-xs-10">
                    如果填写的用户名或邮箱正确，
                    你会立即收到一封重设密码的邮件。
                </div>
            </div>
        </div>
    </div>
    <!--END 正文-->
    <!--START Footer-->
    <div class="row">
        <footer style="margin-top: 10px;">
            <p style="text-align: center;">2017 Evy</p>
        </footer>
    </div>
    <!--END Footer-->
</div>

<!--START JS-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/static/js/userJS/app.js"></script>
<script type="text/javascript" src="/static/js/userJS/changePasswordController.js"></script>
<script type="text/javascript" src="/static/js/userJS/changePasswordService.js"></script>
<!--END JS-->
</body>
</html>