<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置你的新密码</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/userCss/resetPasswordCss.css">
</head>
<body ng-app="myApp" ng-controller="resetController as ctrl" class="ng-cloak">
<div class="container">
    <!--START 导航栏-->
    <div class="row" style="margin-top: 80px;">
        <header>
            <nav id="nav_head" class="nav nav-default navbar-fixed-top"
                 role="navigation">
                <div id="nav_div" class="col-xs-10">
                    <div class="nav_header">
                        <a href="/" class="navbar-brand" style="color: #fff; font-weight: bold;">Evy</a>
                    </div>
                </div>
                <div>
                    <a href="/login" class="btn navbar-btn nav_btn">登录</a>
                </div>
            </nav>
        </header>
    </div>
    <!--END 导航栏-->
    <!--START 正文-->
    <div class="row">
        <div class="from_my_box" ng-show="ctrl.isShowResetBox">
            <div class="box_header">
                <h2>设置你的新密码</h2>
            </div>
            <div class="expire_box" ng-show="ctrl.isShowExpireBox">
                <p class="expire_text">
						<span class="expire_box_span
							glyphicon glyphicon-ok"></span>
                    重置密码链接已失效。请访问点击
                    <a href="/login">这里</a>
                    访问另一个链接。
                </p>
            </div>
            <p style="font-size: 20px;">请输入新的密码</p>
            <div class="form_body">
                <form class="form-horizontal" role="form"
                      novalidate="novalidate">
                    <p>新密码</p>
                    <input type="password"
                           class="username_input form-control"
                           ng-model="ctrl.passwordList.password">
                    <div id="error_repeat" class="collapse error_box">
                        <label class="label label-danger error-message">
                            设置的新密码不能与当前密码相同。
                        </label>
                    </div>
                    <div id="error_empty" class="collapse error_box">
                        <label class="label label-danger error-message">
                            密码不能为空。
                        </label>
                    </div>
                    <p>确认新密码</p>
                    <input type="password"
                           class="username_input form-control"
                           ng-model="ctrl.passwordList.newPassword">
                    <div id="error_noMatch" class="collapse error_box">
                        <label class="label label-danger error-message">
                            新密码不匹配。
                        </label>
                    </div>
                    <div>
                        <button id="change_btn" type="button" ng-click="ctrl.submitForm()"
                                class="edit_password_btn btn btn-lg">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="change_box" ng-show="ctrl.isShowSuccessReset">
            <div class="change_box_header">
                <span class="change_logo glyphicon glyphicon-lock"></span>
                <p class="change_font">密码已修改</p>
            </div>
            <div class="change_body">
                <h1>密码修改成功。</h1>
                <button id="login_btn" type="button" ng-click="ctrl.loginUser()"
                        class="edit_password_btn btn btn-lg">
                    继续
                </button>
            </div>
        </div>
    </div>
    <form id="login_form" method="post" action="/login_process" style="display: none">
        <input type="text" name="username" ng-model="ctrl.formEmail">
        <input type="password" name="password" ng-model="ctrl.passwordList.password">
        <button type="submit">submit</button>
    </form>
    <!--END 正文-->
    <!--START Footer-->
    <div class="row">
        <footer style="margin-top: 10px;">
            <p style="text-align: center;">2017 Evy</p>
        </footer>
    </div>
    <!--END Footer-->
</div>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/static/js/userJS/app.js"></script>
<script type="text/javascript" src="/static/js/userJS/resetPasswordController.js"></script>
<script type="text/javascript" src="/static/js/userJS/resetPasswordService.js"></script>
</body>
</html>